{% extends 'base.html' %}

{% load static %}

{% block content %}

<p><h2>Slides Helper</h2></p>

<p><h4>My Requests</h4></p>


<div>
    <ol class="list-group list-group-numbered">

      {% for request in requests %}
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold"><a href="{% url 'sliders:detail' request.id%}">{{ request.file_name }}</a></div>
          {{ request.requester.username }}
        </div>
        <span class="badge bg-primary rounded-pill">{{ request.contribution_set | length }} </span>
      </li>
      {% endfor %}

      </ol>
</div>
  
<br>


<br>

<div>
  <h5 class="comment-title">Enter the name of the book to request</h5>
  <form method="POST" action="{% url 'sliders:request_book' user.id %}">

    {% csrf_token %}
    <div class="row">
      <p>
        {{ form }}
      </p>
      
        <!--<div class="col-12 mb-3">
          <label for="comment-message">Message</label>--

          <textarea class="form-control" id="comment-message" placeholder="Enter your name" cols="30" rows="10"></textarea>
        </div>-->
        <br>
      <div class="col-4">
        <input type="submit" class="btn btn-primary" value="Submit">
      </div>
    </div>
  </form>
</div>
  


{% endblock %}



{% block activity %}

<!-- Recent Activity -->
<div class="card">
  <div class="filter">
    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
      <li class="dropdown-header text-start">
        <h6>Filter</h6>
      </li>

      <li><a class="dropdown-item" href="#">Today</a></li>
      <li><a class="dropdown-item" href="#">This Month</a></li>
      <li><a class="dropdown-item" href="#">This Year</a></li>
    </ul>
  </div>

  <div class="card-body">
    <h5 class="card-title">Recent Activity <span>| Today</span></h5>

    <div class="activity">

      {% for request in requests %}

      <div class="activity-item d-flex">
        <div class="activite-label">{{ request.pub_date | timesince }}</div>
        <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
        <div class="activity-content">
          {{ request.file_name }} <br>
          <a href="#" class="fw-bold text-dark">{{ request.requester.username }}</a>
        </div>
      </div><!-- End activity item-->

      {% endfor %}

    </div>

  </div>
</div><!-- End Recent Activity -->

{% endblock %}

{% block latest %}

<!-- News & Updates Traffic -->
<div class="card">
  <div class="filter">
    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
      <li class="dropdown-header text-start">
        <h6>Filter</h6>
      </li>

      <li><a class="dropdown-item" href="#">Today</a></li>
      <li><a class="dropdown-item" href="#">This Month</a></li>
      <li><a class="dropdown-item" href="#">This Year</a></li>
    </ul>
  </div>

  <div class="card-body pb-0">
    <h5 class="card-title">Latest | Today</span></h5>

    <div class="news">

      {% for discussion in latest %}
      <div class="post-item clearfix">
        <img src="{% static discussion.creator.back_img.url %}" alt="">
        <h4><a href="#">{{ discussion.content }}</a></h4>
        <p>{{ discussion.description }}</p>
      </div>
      {% endfor %}
      

    </div><!-- End sidebar recent posts-->

  </div>
</div><!-- End News & Updates -->

{% endblock %}